<!doctype html>
<!--git hub link https://github.com/rashrest/dating-->

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interest</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="styles/interests.css">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ @BASE }}">My Dating Website</a>

    </nav>
</header>


<main class="container">
    <h3>Interests</h3>
    <hr>
    <form method="post" action="#">
        <div class="row">

            <div class="col">
                <p><strong>Indoor Interests</strong></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="tv" value="tv">
                    <label class="form-check-label" for="tv">tv</label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="puzzles" value="puzzles">
                    <label class="form-check-label" for="puzzles">puzzles</label>
                </div>

                <p><strong>Outdoor Interests</strong></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="hiking" value="hiking">
                    <label class="form-check-label" for="hiking">hiking</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="walking" value="walking">
                    <label class="form-check-label" for="walking">walking</label>
                </div>

            </div>


            <div class="col">
                <p><br></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="movies" value="movies">
                    <label class="form-check-label" for="movies">movies</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="reading" value="reading">
                    <label class="form-check-label" for="reading">reading</label>
                </div>

                <p><br><br></p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="biking" value="biking">
                    <label class="form-check-label" for="biking">biking</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="climbing" value="climbing">
                    <label class="form-check-label" for="climbing">climbing</label>
                </div>
            </div>

            <div class="col">
                <p><br></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="cooking" value="cooking">
                    <label class="form-check-label" for="cooking">cooking</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="cards" value="playing cards">
                    <label class="form-check-label" for="cards">playing cards</label>
                </div>

                <p><br><br></p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="swimming" value="swimming">
                    <label class="form-check-label" for="swimming">swimming</label>
                </div>
            </div>

            <div class="col">
                <p><br></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="boardgames" value="board games">
                    <label class="form-check-label" for="boardgames">board games</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="videogames" value="video games">
                    <label class="form-check-label" for="videogames">video games</label>
                </div>

                <p><br><br></p>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="collecting" value="collecting">
                    <label class="form-check-label" for="collecting">collecting</label>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary" type="submit" >Next</button>
        </div>
    </form>
</main>





<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>



</html>