
main{
    border: 1px solid silver;
}
#next{
    /*position: absolute;*/
    /*bottom: 0!important;*/
    /*right: 0!important;*/
    text-align: right!important;
    float: right!important;
    /*display: block;*/
    margin-left: 2rem;

}

aside{
    margin-top: 75px;
}